.table-container {
    -fx-background-color: #DEDFDE;
}

.zone-id-label {
    -fx-text-fill: #f3364d;
}

.top-panel {
     -fx-background-color: white;
     -fx-border-color: #DEDFDE;
     -fx-border-width: 1;

}

.main-container {
    -fx-background-color: white;
    -fx-background-radius: 6;
}